mat-toolbar{
    background-color: #3f51b5;
    display: flex;
    color: #ffffff;
    flex:1;
}

mat-option{
    background-color: #3f51b5;    
}

mat-select{
    flex-grow:1;
    width:50px;
}
span{
    flex-grow:14;
    cursor:pointer;
    color: #ffffff;
    
}

a{
    margin:15px;
    height: 100%;
    display: flex;
    align-items: center;
    color: #ffffff;
}
i{
    margin:5px;
    cursor: pointer;
}
